
@media (max-width: 1024px) {
    .footer__content {
      flex-wrap: wrap;
    }
  
    .footer__description {
      width: 40%;
      padding: 0px 20px;
    }
    .scroll {
      background-color: #73a2d4;
    }
    .footer__title {
      font-size: 12px;
      gap: 20px;
      font-weight: 700;
      font-family: __firago_124989;
    }
    .footer__list li a {
      font-size: 10px;
      font-family: __firago_124989;
    }
    .container p {
      font-size: 10px;
      padding: 10px;
      margin-left: 10px;
    }
    .logo {
      left: 0;
      bottom: 0;
    }
  }
  
  /* @media (max-width: 500px) {
    .footer__description {
      width: 40%;
    }
  } */