@import url(./styles.css);
@import url(./reset.css);
@import url(./fonts.css);


/* Products Section */
.product-section {
  width: 100%;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  padding: 1.5rem;
  z-index: 1;
  margin: auto;
}

/* Swiper Container */
.swiper-container {
  width: 100%;
  max-width: 1200px;
 
  margin: auto;
  overflow: hidden;
}

/* Swiper Wrapper */
.swiper-wrapper {
  display: flex;
  align-items: center;
}

/* Swiper Slide */
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-shrink: 0;
}

/* Product Card */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px; /* Add padding to create more space */
  position: relative;
    gap: 8px;
    max-width: 160px;
    cursor: pointer;
    border-radius: 4%;
    transition: 0.2s;
    height: 303px;
    justify-content: space-between;
    background: var(--white-main);
    font-family: --var(firago-main);
}

/* Product Image */
.product-thumb {
  width: 180px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Product Name */
.product-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Products Section */
.product-section {
  width: 100%;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  padding: 1.5rem;
  z-index: 1;
  margin: auto;
}

/* Swiper Container */
.swiper-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

/* Swiper Wrapper */
.swiper-wrapper {
  display: flex;
  align-items: center;
}

/* Swiper Slide */
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 160px; /* Adjust width as needed */
  height: 303px;
  border-radius: 4%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  cursor: pointer;
}

/* Product Image */
.product-thumb {
  width: 100%;
  height: auto;
  border-radius: 4%;
  margin-bottom: 10px;
}

/* Product Name */
.product-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

/* Price Section */
.price-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Current Price */
.product-price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Old Price */
.product-old-price {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
  margin-bottom: 10px;
}

/* Add to Cart Button */
.cart-btn {
  background-color: #F28F6A;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}


/* 2 */
.second-slider {
  width: 100%;
  max-width: 1200px;
  height: 303px;
  position: relative;
  overflow: hidden;
  padding: 1.5rem;
  z-index: 1;
  margin: auto;
}